@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}
.main {
    font-family: 'Koulen', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #424242;
    text-rendering: optimizeLegibility;
    opacity: 0.8;
    text-align: center;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 0px 0px 4px rgba(0, 0, 0, 0.25);
        letter-spacing: 0.5px;
}
.businessName {
    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    color: #424242;
    text-align: center;
}
li {
    margin-bottom: 10px;
    font-size: 18px;
}

.gl {
    overflow-x: hidden;
    .logoBox {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .logo {
        width: 32px;
        height: 32px;
        border-radius: 7px;
    }
    img {
        object-fit: cover;
    }
    .overlay {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 170px;
        width: 100%;
        background: linear-gradient(180deg,rgba(0,0,0,.64) 12.77%,hsla(0,0%,76.9%,0) 79.04%);
    }
    .overlay2 {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255, 255, 255, 1)
    }
    .boxShaGL {
        box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
    }
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    h2 {
        font-size: 16px;
    }
    .arrow {
        position: absolute;
        bottom: -14px;
        right: -20px;
    }
    .gift {
        background-color: #FFC244FF;
        background-image: url('./../../assets/gift-back.svg');
    }
}

.anim {
    animation: wiggle 2s linear infinite;
    animation-iteration-count: 2;
}

.badgeWinner {
    position: absolute;
    top: -15px;
    right: -5px;
}

.op3 {
    opacity: 0.3;
}
.op4 {
    opacity: 0.4;
}
.op5 {
    opacity: 0.5;
}
.op6 {
    opacity: 0.6;
}