.fidBox {
    background: #455065;
    // box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
    color: white;
    // min-height: 150px;
    // min-height: 190px;
    padding-bottom: 20px;
}
.min190 {
    min-height: 190px;
}
.min150 {
    min-height: 150px;
}
.dashedBoRight {
    border-right: 2px dashed white;
    padding-right: 10px;
}
.businessImg {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // color: #424242;
    border: 3px solid white;
}
.discountBio {
    .incName {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
    }
    .discountInfo {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }
    .discountValue {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
    }
}
.imgBox {
    img {
        width: 40px;
        border-radius: 40px;
        border: 3px solid white;
    }
}
.qrCode {
    width: 40px;
    height: 40px;

    img {
        width: 100%;
    }
}
.op3 {
    opacity: 0.3;
}