<div *ngIf="!!loading" class="spinner mAuto"></div>
<div class="gl flex fColumn w100 hM100" *ngIf="(card$ | async) as card">
    <img class="logo" style="z-index: 2;" src="assets/cbLogo.png" alt="">
    <img class="w100" style="z-index: 0;" height="170" [src]="card.image_url ? card.image_url : 'https://img.freepik.com/free-photo/abstract-blur-food-truck_1339-3329.jpg?w=1380&t=st=1669487530~exp=1669488130~hmac=2193ebdc36a344007af2493f07c4c5f27b651b20620dd570eb60ece2e370759f'" alt="">
    <div style="z-index: 1;" class="overlay"></div>
    <div class="flex fColumn gap20 pad15 crB f1" style="margin-top: -120px; z-index: 2;">
        <!-- <div class="flex fColumn pad15 boxShaGL gap15 w100 br10 bgrW">
            <h1 class="ffG textCenter">{{card.business_name}}</h1>
            <p class="ffG textCenter mB15">{{card.description}}</p>
        </div> -->

        <div class="flex fRow aCenter jBet w100 bgrW br10 boxShaGL pad15 mT20 pRel gift" style="min-height: 110px;">
            <div class="flex fColumn gap15 f1" style="padding-right: 20px;">
                <ng-container *ngIf="card?.discount_amount">
                    <h2 class="ffG" style="font-size: 18px;">
                        {{ (tr?.discount || 'Ricevi uno SCONTO di ') }}
                        {{card?.discount_amount}}{{ card?.discount_type == 'PERC' ? '%' : '€' }} !
                    </h2>
                </ng-container>
                <ng-container *ngIf="!card?.discount_amount">
                    <h2 class="ffG" style="font-size: 18px;">{{card?.slogan || 'PASTO GRATIS!'}}</h2>
                </ng-container>
                <p *ngIf="!card.card_description" class="ffG mB15">{{ (tr?.withCard || 'Con la carta fedeltà digitale di ') }} {{card.business_name}}</p>
                <p *ngIf="card.card_description" class="ffG">{{card.card_description}}</p>
                <!-- <p *ngIf="card.card_description" class="ffG mB15">{{ (tr?.onlyWithCard || 'Solo con la nostra carta fedeltà digitale.') }}</p> -->
            </div>
            <img width="40" height="40" style="border-radius: 7px;" src="assets/gift.png" alt="">
        </div>
        
        <app-card (click)="clickCard()" [showBio]="false" [fidelity]="card" [lang]="lang"></app-card>

        <div class="flex fColumn bgrW br10 pad15 boxShaGL gap10" (click)="download()">
            <h2 class="ffG" style="font-size: 18px;">{{ (tr?.wantCard || 'Vuoi questa Carta Fedeltà ?') }}</h2>
            <!-- <p class="ffG mB15">{{ (tr?.downloadApp || "Scarica l'app COMEBACK, entra, clicca sul "+" e scrivi il codice locale ") }}"{{card.business_id}}".</p> -->
            <ol style="padding-inline-start: 20px;">
                <li class="ffG" style="text-decoration: underline;">{{ (tr?.downloadApp || "Scarica l'app COMEBACK") }}</li>
                <li class="ffG">{{ (tr?.enter || 'Entra, clicca sul "+", e scrivi il codice locale') }} "{{card.business_id}}".</li>
                <li class="ffG">{{ (tr?.end || 'Sconti, Prenotazioni, Recensioni e Menù, tutto con la carta! FINE.') }}</li>
            </ol>
            <!-- <div class="flex fRow jBet gap20 aCenter textCenter">
                <button class="br10 pad10 btnScarica bgrGG" (click)="ios()"><i class="fa-brands fa-apple"></i>&nbsp;
                    {{ (tr?.ios || 'Scarica per iPhone') }}
                </button>
                <button class="br10 pad10 btnScarica bgrGG" (click)="app()"><i class="fa-brands fa-android"></i>&nbsp;
                    {{ (tr?.android || 'Scarica per Android') }}
                </button>
            </div> -->
            <button class="br10 pad10 btnScarica bgrGG w100" (click)="download()"><i class="fa-solid fa-download"></i>&nbsp;
                {{ (tr?.ios || "Scarica l'app") }}
            </button>
            <!-- <small class="mT20">{{card?.business_name}} {{ (tr?.info || 'usa COMEBACK per le carte fedeltà dei suoi clienti.') }}</small> -->
        </div>

        <p class="ffG w100 crB ffG pad10" style="text-decoration: underline;" (click)="back()">< torna indietro</p>

    </div>
    <div class="footer flex fColumn pad15 bgrWl gap10 mT40">
        <small class="w100 textCenter crB ffG pad10" style="text-decoration: underline;" (click)="mail()">{{ (tr?.youToo || 'Vuoi usare comeback per la tua attività? Scrivici') }}</small>
        <a class="textCenter w100 crB ffG pad10" style="text-decoration: none !important; font-size: smaller;" target="_blank" href="https://www.freepik.com/free-vector/red-ribbon-bow_1529572.htm#query=gift&position=35&from_view=search&track=sph">Image by macrovector on Freepik</a>
    </div>
</div>