<div class="flex fColumn gap20 pad20 bgrWl">
    <h2>Inizia</h2>

    <div class="flex fColumn gap10">
        <h3>Come Funziona e consigli:</h3>
        <ul>
            <li>Per ricevere il premio di 50€, il locale deve usare da 2 mesi il servizio.</li>
            <li>Allo scadere del secondo mese e dopo che il locale completa il pagamento del secondo mese <strong>(compreso ritardi)</strong>, noi in automatico ti manderemo la somma di 50€ sul tuo conto, che ti avremo chiesto in precedenza tramite email.</li>
            <li>Nelle impostazioni dell'app Comeback trovi la voce "CODICE UTENTE". Quando convinci un locale a usare Comeback, nel processo di attivazione del servizio, il titolare del locale deve specificare questo CODICE, cosi possiamo tracciare il tuo operato.</li>
            <li>
                Il titolare del locale deve scaricare l'app Comeback, andare sulle impostazioni e cliccare su NUOVA ATTIVITÀ e da li seguire le indicazioni, ovvero mandare un'email a Comeback per l'attivazione. (indicando anche il tuo CODICE).
            </li>
            <li>Aiuta il titolare a scaricare l'App, a mandarci l'email e a spiegarli a cosa serve Comeback.</li>
            <li>Il Locale grazie al tuo codice sconto, avrà 1 mese di prova gratuita senza costi di disattivazione.</li>
            <li>
                Dal secondo mese se il locale è un'attività come estetista, parrucchiere o un'attività di ristorazione senza o con pochissimi posti a sedere, il servizio costerà 29€ al mese. 
                Se è un'attività di ristorazione con posti a sedere, 49€ al mese. 
                Grazie al tuo codice il primo mese è di prova gratuita.
            </li>
            <li>Quando ti presenti, devi essere pulito, rispettoso, gentile, vestito abbastanza bene, ed esprimiti con un linguaggio educato. Cerca di usare parole semplici e indicare i vantaggi per i clienti e il titolare del locale usando Comeback.</li>
            <li>Sii paziente, non arrenderti se i primi locali ti dicono di no, cambia strategia, cambia le tue frasi o il tuo approccio. Prova! Fai finta di essere un suo cliente, e domandagli se ha Comeback per avere la carta punti!</li>
        </ul>
    </div>

    <div class="flex fColumn gap10">
        <h3>Quali attività/locali sono le migliori?:</h3>
        <ul class="gap10">
            <li>Tavole Calde / Rosticcerie nei pressi di uffici, piene nelle pause pranzo.</li>
            <li>Pizzerie</li>
            <li>Ristoranti Italiani</li>
            <li>POKE</li>
            <li>SUSHI</li>
            <li>Ristoranti / Rosticcerie Cinesi</li>
            <li>PUB / Bistrot</li>
            <li>Home Restaurant</li>
            <li>Discoteche</li>
            <li>Alimentari</li>
            <li>Parruchieri / Barbieri</li>
            <li>Estetisti</li>
            <li>Mercati</li>
            <li>Centri Massaggi</li>
            <li>... se hai altre idee puoi anche provare!</li>
        </ul>
    </div>

    <div class="flex fColumn gap10">
        <h3>Funzionalità di Comeback?:</h3>
        <ul class="gap10">
            <li>Carte Fedeltà/Punti.</li>
            <li>Notifiche ai Clienti.</li>
            <li>Recensioni private dei clienti.</li>
            <li>Gestione Sconti/Premi.</li>
            <li>Prenotazioni dall'app.</li>
            <li>Menu/Tariffe tramite QR.</li>
        </ul>
    </div>
</div>