.flex {
    display: flex;
}
.fRow {
    flex-direction: row;
}
.fColumn {
    flex-direction: column;
}
.fCenter {
    align-items: center;
    justify-content: center;
}
.jCenter {
    justify-content: center;
}
.aCenter {
    align-items: center;
}
.jBet {
    justify-content: space-between;
}
.jAro {
    justify-content: space-around;
}
.jEnd {
    justify-content: end;
}
.gap2 {
    gap: 2px;
}
.gap5 {
    gap: 5px;
}
.gap10 {
    gap: 10px;
}
.gap15 {
    gap: 15px;
}
.gap20 {
    gap: 20px;
}
.gap30 {
    gap: 30px;
}
.gap40 {
    gap: 40px;
}
.gap60 {
    gap: 60px;
}
.pad3 {
    padding: 3px;
}
.pad5 {
    padding: 5px;
}
.pad10 {
    padding: 10px;
}
.pad15 {
    padding: 15px;
}
.pad20 {
    padding: 20px;
}
.pad40 {
    padding: 40px;
}
.grid {
    display: grid;
}
.n2Col {
    grid-template-columns: repeat(2, 1fr);
}
.n3Col {
    grid-template-columns: repeat(3, 1fr);
}
.n4Col {
    grid-template-columns: repeat(4, 1fr);
}
.n5Col {
    grid-template-columns: repeat(5, 1fr);
}
.n2Col7030 {
    grid-template-columns: 70% 30%;
}
.n2Col6535 {
    grid-template-columns: 65% 35%;
}
.n2Col6040 {
    grid-template-columns: 60% 40%;
}
.n1Col {
    grid-template-columns: repeat(1, 1fr);
}
.n2Row {
    grid-template-rows: 50% 50%;
}
.mAuto {
    margin: auto;
}
.mXAuto {
    margin-right: auto;
    margin-left: auto;
}
.oHidden {
    overflow: hidden;
}
.oAuto {
    overflow: auto;
}
.oYAuto {
    overflow-y: auto;
}
.br5 {
    border-radius: 5px;
}
.fWrap {
    flex-wrap: wrap;
}
.fNoWrap {
    flex-wrap: nowrap;
}
.fBold {
    font-weight: bold;
}
.fSemiBold {
    font-weight: 500;
}
.maxH100 {
    max-height: 100px;
}
.maxH150 {
    max-height: 150px;
}
.maxH200 {
    max-height: 200px;
}
.h110 {
    height: 110%;
}
.w20 {
    width: 20%;
}
.w30 {
    width: 30%;
}
.w40 {
    width: 40%;
}
.w50 {
    width: 50%;
}
.w80 {
    width: 80%;
}
.w100 {
    width: 100%;
}
.dN {
    display: none;
}
.pRel {
    position: relative;
}
.z6 {
    z-index: 6;
}
textarea {
    width: 100%;
    padding: 15px;
    font-size: 21px;
    resize: none;
    border: 1px solid rgba(53, 121, 96, 0.5);
    outline: none;
    font-family: inherit;
}
.mr20 {
    margin-right: 20px;
}
.mt120 {
    margin-top: 120px;
}
.mt60 {
    margin-top: 60px;
}
.fileRow {
    padding: 20px;
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
    border-radius: 5px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.hFitCont {
    height: fit-content;
}
.boxSha {
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
    box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.25);
}
.brC {
    border: 1px solid rgba(0, 128, 128, 0.25);
}
.h100 {
    height: 100%;
}
.hM100 {
    min-height: 100%;
}
.bgrW {
    background-color: white;
}
.mB20 {
    margin-bottom: 20px;
}
.mB10 {
    margin-bottom: 10px;
}
.mB15 {
    margin-bottom: 15px;
}
.mB5 {
    margin-bottom: 5px;
}
.mB40 {
    margin-bottom: 40px;
}
.mB60 {
    margin-bottom: 60px;
}
.mB80 {
    margin-bottom: 80px;
}
.mT20 {
    margin-top: 20px;
}
.mT30 {
    margin-top: 30px;
}
.mT10 {
    margin-top: 10px;
}
.mT15 {
    margin-top: 15px;
}
.mT5 {
    margin-top: 5px;
}
.mT40 {
    margin-top: 40px;
}
.mT60 {
    margin-top: 60px;
}
.mT80 {
    margin-top: 80px;
}
.f1 {
    flex: 1;
}
.cP {
    cursor: pointer;
}
.divImage {
    background-position: center;
    background-size: cover;
}
.q50 {
    width: 50px;
    height: 50px;
}
.q100 {
    width: 100px;
    height: 100px;
}
.q150 {
    width: 150px;
    height: 150px;
}
.pXL {
    font-weight: bold;
    font-size: 27px;
    margin: 0;
}
.pL {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}
.pM {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
}
.pS {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
}
.letSpa {
    letter-spacing: 1px;
}
.aBase {
    align-items: self-end;
}
.aStart {
    align-items: flex-start;
}
.bgICard {
    background: #f8f9fa;
}
.tCenter {
    text-align: center;
}

.br10 {
    border-radius: 10px;
}

button {
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.btnFilled {
    background-color: #23922F;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border: 1px solid #23922F;
}
.btnFilledIndro {
    background-color: #5F7FBE;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    height: 48px;
    line-height: 48px;
    border: 1px solid #5F7FBE;
}
.btnOutline {
    background-color: white;
    color: #5F7FBE;
    border: 1px solid #5F7FBE;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    height: 48px;
    line-height: 48px;
}
.indroButton {
    font-size: 17px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    border: 1px solid rgba(62, 16, 63, 0.30);
    color: rgba(62, 16, 63, 0.85);
    padding: 0 15px;
}

.btn {
    background-color: white;
    color: #424242;
    border: 1px solid #424242;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.br30 {
    border-radius: 30px;
}
.br15 {
    border-radius: 15px;
}
.br20 {
    border-radius: 20px;
}

.btnDark {
    background-color: #0c0c0c;
    color: white;
    border: 1px solid white;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.btnScarica {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

button:disabled {
    opacity: 0.7 !important;
    cursor: not-allowed !important;
}
.indroButton::placeholder {
    font-weight: 300 !important;
}
.section {
    background-color: rgba(62, 16, 63, 0.05);
}
.bgrY {
    background-color: #89dd62;
}
.bgrP {
    background-color: #7cf0d7;
}
.bgrB {
    background-color: #1753b6;
}
.card {
    border-radius: 5px;
    border: 1px solid lightgrey;
    /* background-color: white; */
}
.textCenter {
    text-align: center;
}
select {
    padding: 12.5px !important;
}

.list {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.25);
}
.list .element {
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);    
}
.list .element:last-child {
    border-bottom: none;
}
.bgrWl {
    background-color: #f5f5f5;
    color: #424242;
}
.bgrR {
    background-color: #B33131;
    color: white;
}
.bgrGr {
    background-color: green;
    color: white;
}
.bgrG {
    background: #455065;
    color: white;
}

.spacer {
    width: 60px;
    height: 10px;
    margin: 0 auto;
    background: rgba(66, 66, 66, 0.3);
    border-radius: 10px;
}
.fw3 {
    font-weight: 300;
}
.fw4 {
    font-weight: 400;
}
.fw5 {
    font-weight: 500;
}
.fw6 {
    font-weight: 600;
}
.fw7 {
    font-weight: 700;
}
.fw8 {
    font-weight: 800;
}

.tRBadge {
    position: absolute;
    top: -13px;
    right: -8px;
    height: 26px;
    line-height: 26px;
    display: flex;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.tRBadgeBor {
    border: 1px solid white;
}

.bgrWl {
    background-color: #f5f5f5;
    color: #424242;
}
.badge {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}
.badge i { font-size: 23px; }
.badge20 {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}
.badge20 i { font-size: 19px; }
.badge30 {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.badge30 i { font-size: 15px; }
.badgeBgr {
    background: rgba(255, 255, 255, 0.5);;
    color: #455065;
}
.done {
    background-color: white;
    color: #455065;
}

.crG {
    color: #455065;;
}
.crB {
    color: black;;
}

.crW {
    color: white;;
}
.btn1 {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    outline: none;
}
.btn2 {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    outline: none;
}

.brN {
    border: none;
}

.bgrGG {
    background: #383f4d;
    color: white;
}

.spinner {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    z-index: 100;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}


.ffG {
    font-family: 'Figtree', sans-serif;
}
.ffGb {
    font-family: "Gotham-Bold";
}
.ffGl {
    font-family: "Gotham-Light";
}
.ffGt {
    font-family: "Gotham-Thin";
}
.ffGm {
    font-family: "Gotham-Medium";
}

.op6 {
    opacity: 0.6;
}


/* font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif; */