// @font-face {
//   font-family: 'Gotham-Black';
//   src: url('assets/Gotham-Font/Gotham-Black.otf') format('opentype');
// }
// @font-face {
//   font-family: 'Gotham-Bold';
//   src: url('assets/Gotham-Font/Gotham-Bold.otf') format('opentype');
// }
// @font-face {
//   font-family: 'Gotham-Light';
//   src: url('assets/Gotham-Font/Gotham-Light.otf') format('opentype');
// }
// @font-face {
//   font-family: 'Gotham-Thin';
//   src: url('assets/Gotham-Font/Gotham-Thin.otf') format('opentype');
// }
// @font-face {
//   font-family: 'Gotham-Medium';
//   src: url('assets/Gotham-Font/GothamMedium.otf') format('opentype');
// }

@import './lib.css';

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  // background-color: #455065;
  background-color: #f5f5f5;
  font-family: 'Nunito Sans', 'Noto Sans', 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  color: white;
}
* {
  box-sizing: border-box;
}
/* Importing Bootstrap SCSS file. */

h3, p, h1, h2, h4, h5, h6 {
  margin: 0;
}

::-webkit-scrollbar { 
  display: none !important; 
}

button {
  outline: none;
}


// # Mobile
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
}

// # Desktop
@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    body {
      max-width: 500px;
      margin: 0 auto;
    }
}