<div *ngIf="!!loading" class="spinner mAuto"></div>
<div class="gl flex fColumn w100 hM100" *ngIf="(card$ | async) as card">
    <div class="flex fColumn gap20 pad15 crB f1">
        <button 
            *ngIf="card?.business_menu_link" 
            (click)="menu(card?.business_menu_link)" 
            class="ffG w100 br10 btn1 bgrW boxShaGL pad15 brN w100 crB"
        >
            {{ (tr?.menu || 'leggi il menù') }}
        </button>
        <div class="flex fRow aCenter jBet w100 bgrW br10 boxShaGL pad15 pRel gift anim" style="min-height: 110px;" (click)="clickCard()" [ngClass]="{ 'mT40': !card?.business_menu_link }">
            <div class="overlay op3 br10"></div>
            <div class="flex fColumn gap15 f1" style="padding-right: 0px; z-index: 2;">
                <h2 class="ffG" style="font-size: 21px;">{{ (tr?.withCard || 'Hai vinto la Carta Fedeltà ') }}<span style="display: inline-block">{{ (tr?.android || 'di') }} {{card.business_name}}{{ (tr?.wantCard || '...veloce!') }}</span></h2>
                <div class="flex fRow aCenter jBet">
                    <div class="br10 bgrR" style="padding: 5px 10px; width: fit-content;">
                        <h4 style="display: inline;" class="ffG">{{ (tr?.enter || 'Solo 7 rimaste') }}</h4>
                    </div>
                    <i class="fa-regular fa-hand-point-down"></i>
                </div>
                <!-- <p class="ffG" style="font-size: 17px;">Scaricala, completala e ricevi <strong>2 Ravioli e 1 Vino Gratis!</strong> Ci vuole 1 secondo.</p> -->
                <!-- <i class="fa-solid fa-angle-down" style="margin: 0 auto;"></i> -->
            </div>
        </div>

        <div class="flex fColumn bgrW br10 pad15 boxShaGL gap15" [ngClass]="{ 'anim': downloading }">
            <!-- <h2 class="ffG" style="font-size: 21px;">La Vuoi ?</h2> -->
            
            
            <p *ngIf="!downloading" class="ffG mB15">{{ (tr?.downloadApp2 || "Scarica l'app COMEBACK e prendi la carta con il codice locale ") }}"{{card.business_id}}". {{ (tr?.downloadApp || 'Completala e ricevi ') }}
                
                <ng-container *ngIf="card?.discount_amount">
                    <strong style="display: inline-block; font-size: 18px; text-decoration: underline;">
                        {{ (tr?.discount || 'uno SCONTO di ') }}
                        {{card?.discount_amount}}{{ card?.discount_type == 'PERC' ? '%' : '€' }}!
                    </strong>
                </ng-container>
                <ng-container *ngIf="!card?.discount_amount">
                    <strong style="display: inline-block; font-size: 18px; text-decoration: underline;">{{card?.slogan || 'PASTO GRATIS!'}}</strong>
                </ng-container>
            </p>


            <ng-container *ngIf="downloading">
                <h2 class="ffG" style="font-size: 21px;">Per prendere la Carta:</h2>
                <ol style="padding-inline-start: 20px; margin-block-start: 0; margin-block-end: 0;">
                    <li class="ffG" (click)="download()">{{ (tr?.nDownloadApp || "Scarica l'app COMEBACK") }}</li>
                    <li class="ffG">{{ (tr?.nEnter || 'Entra, clicca sul "+", e scrivi il codice locale') }} "{{card.business_id}}".</li>
                </ol>
            </ng-container>

            <button *ngIf="!show2Buttons && !downloading" class="br10 pad10 btnScarica bgrGG w100 ffG" (click)="download()"><i class="fa-solid fa-download"></i>&nbsp;
                {{ (tr?.ios || 'Prendi Carta') }}
            </button>

            <button *ngIf="!show2Buttons && !!downloading" class="br10 pad10 btnScarica bgrGG w100 ffG" (click)="download()"><i class="fa-solid fa-download"></i>&nbsp;
                {{ (tr?.cta || 'Scarica ora') }}
            </button>

            <div *ngIf="!!show2Buttons" class="flex fRow jBet gap20 aCenter textCenter">
                <button class="br10 pad10 btnScarica bgrGG ffG" (click)="ios()"><i class="fa-brands fa-apple"></i>&nbsp;
                    {{ (tr?.iosApp || 'Scarica per iPhone') }}
                </button>
                <button class="br10 pad10 btnScarica bgrGG ffG" (click)="app()"><i class="fa-brands fa-android"></i>&nbsp;
                    {{ (tr?.androidApp || 'Scarica per Android') }}
                </button>
            </div>

            <!-- <app-card (click)="clickCard()" [showBio]="false" [fidelity]="card" [lang]="lang"></app-card> -->
        </div>


        <div (click)="clickCard()" class="flex fRow aCenter w100 br10 boxShaGL pRel" style="
        min-height: 110px;
        transform: rotate(8deg);
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;">
            <div class="overlay op3 br10"></div>
            <app-card style="z-index: 0; flex: 1;" [showBio]="false" [fidelity]="card" [lang]="lang"></app-card>
        </div>
    </div>
    <div class="footer flex fColumn pad15 bgrWl gap10 mT80">
        <p *ngIf="card.card_description && businessId != 4 && businessId != 11" class="ffG w100 crB ffG pad10 textCenter mT10">{{ card.card_description }}</p>
        <small class="w100 textCenter crB ffG pad10 mT10" style="text-decoration: underline;" (click)="mail()">{{ (tr?.youToo || 'Vuoi usare comeback per la tua attività? Scrivici') }}</small>
        <a class="textCenter w100 crB ffG pad10" style="text-decoration: none !important; font-size: smaller;" target="_blank" href="https://www.freepik.com/free-vector/red-ribbon-bow_1529572.htm#query=gift&position=35&from_view=search&track=sph">Image by macrovector on Freepik</a>
    </div>
</div>