<div class="flex fColumn crG" *ngIf="mustPay">
    <div class="flex fColumn gap15 pad20 br1B">
        <h2 class="fw7">La tua prova gratuita del servizio di Comeback è terminata, ti stiamo reindirizzando alla pagina per attivare l'abbonamento.</h2>
    </div>
</div>

<div class="flex fColumn crG" *ngIf="!mustPay">
    <div class="flex fColumn gap15 pad20 br1B">
        <h2 class="fw7">Il tuo abbonamento a Comeback è attivo, per assistenza scrivici a comebackwebapp@gmail.com .</h2>
    </div>
</div>